*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/**
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7))url(./img/photo_2021-09-26_17-10-06.jpg);
}
a{
    text-decoration: none;
    color: red;
}
.language{
    display: inline;
}
.language li a{
    padding: 50px;
}**/
a{
    text-decoration: none;
}
.language{
    position: relative;
}
.language li {
    list-style: none;
}
.langu{
    position: relative;
}
/*.language li{
    border: solid 1px red;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
}
.langu{
    background-image: url(./img/download2.png);
}
.langr{
    background-image: linear-gradient(red,white,blue);
}*/
body{
    /*background-color: #161D25;*/
    background: #0e1e25;
    overflow: hidden;
}
.language{
    top: 40px;
}
.tr{
    position: relative;
    margin-left: 70%;
    top: 60px;
}
.sinflar a{
    text-align: center;
    background-image: linear-gradient(rgb(22, 7, 231),white,white,rgb(22, 7, 231));
    border-radius: 100%;
    color: blue;
    font-size: 18px;
}
.sinflar a:hover{
    background-image: linear-gradient(rgb(22, 7, 231),white,white,rgb(22, 7, 231));
    border-radius: 100%;
    transition: 1s;
    width: 50%;
    color: #fd0d0d;
    font-weight: bolder;
    font-size: 30px;
}
.sinflar{
    display: block;
    position: relative;
    bottom: 20px;
}
.langu a{
    position: relative;
    bottom: 10px;
}
.sinflar a{
    display: block;
    padding: 10px;
    border-bottom: 10px;
    border-top: 10px;
    border-left: 20px;
    border-right: 20px;
    width: 20%;
}
.sinflar{
    position: relative;
    left: 33%;
    bottom: 50px;
}
.kundalik a{
    color: #00bae5;
    text-align: center;
    border-radius: 5%;
}
.kd{
    width: 25%;
    position: relative;
}
.kd a{
    display: block;
    padding: 10px;
    border-bottom: 10px;
    border-top: 10px;
    border-left: 20px;
    border-right: 20px;
    width: 70%;
    border: 1px solid #00bae5;
    transition: 1.2s;
}
.kd a:hover{
    background-color: #00bae5;
    color: white;
}
.clasroom a{
    color: #00bae5;
    text-align: center;
}
.creatclasroom a{
    color: #00bae5;
    text-align: center;
}
